<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jmp.spring.mapper.LoginMapper">
	
	<select id="login" resultType="jmp.spring.vo.User">
		select * from users where id=#{id} and pwd=#{pwd}
	</select>

	<select id="userRole" resultType="String">
		select role_id from users_role where id=#{id}
	</select>
	
	<!--자동로그인시 세션키값을 유저 테이블에 저장 합니다 -->
	<update id="updateSessionKey">
		update users set sessionkey= #{sessionkey}
                ,sessionlimit = sysdate + 7
		where id = #{id}
	</update>
	
	<select id="loginSessionKey" resultType="jmp.spring.vo.User">
	
		select * from users 
				where sessionkey= #{sessionkey} 
                and sessionlimit > sysdate
	
	</select>
	
</mapper>